:root {
    --overlay-margin: 30px; /* Define the margin for the overlay */
}

.home-container {
    width: calc(100vw - 2 * var(--overlay-margin));
    height: calc(100vh - 2 * var(--overlay-margin));
    background: linear-gradient(to right, #8e44ad, #3498db);
    display: flex;
    position: relative;
    padding: var(--overlay-margin);
    overflow: hidden; /* Ensure content stays within bounds */
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 50px;
    margin: 30px;
    z-index: 1;
    max-width: 100%;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Add space between header and cards */
}

.header h1, .header h2, .header h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    grid-template-columns: 1fr 1fr;
}

.header h1, .header h2 {
    font-size: 4rem;
}

.header h4 {
    font-size: 3rem;
}

@media (min-width: 768px) {
    .header h1, .header h2 {
        font-size: 4rem;
    }

    .header h4 {
        font-size: 3rem;
    }
}

.image-container {
    display: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

.image-container {
    display: none;
}

@media (min-width: 1024px) {
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .image-container img {
        max-width: auto;
        height: auto;
        margin-bottom: 10rem;
    }
}

.rocket {
    transition: transform 0.2s ease-in-out;
}

.rocket:hover {
    animation: rocketMove 3s infinite ease-in-out;
}

@keyframes rocketMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.card {
    padding: 30px; /* Increase padding for larger cards */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card img {
    width: 80px; /* Increase icon size */
    height: 100px; /* Increase icon size */
    margin-bottom: 10px; /* Add more space below the icon */
}

.card h2 {
    font-size: 1.5rem; /* Increase title size */
    color: aliceblue;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem; /* Increase description size */
    color: rgb(58, 58, 156);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(254, 99, 2, 0.2);
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    z-index: 1;
    width: 100%;
    padding: 5px;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr; /* Stack cards on smaller screens */
    }
    .card {
        padding: 20px; /* Decrease padding on smaller screens */
    }
}