:root {
    --overlay-margin: 30px;
}

/* Home Container */
.home-container {
    width: calc(100vw - 2 * var(--overlay-margin));
    height: calc(100vh - 2 * var (--overlay-margin));
    background: #fbc107;
    display: flex;
    position: relative;
    padding: var(--overlay-margin);
    overflow: hidden;
}

/* Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 50px;
    margin: 30px;
    z-index: 1;
    max-width: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Main */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Cards Container */
.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

.image-container {
    display: none; /* Hide the image container by default */
}

@media (min-width: 481px) and (max-width: 768px) {
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative; /* Ensure the container can be used for positioning */
    }

    .rocket {
        display: none; /* Hide the rocket image */
    }

    .bottom-image {
        display: block; /* Show the image only in this breakpoint */
        position: absolute; /* Position relative to the .image-container */
        bottom: 0; /* Align to the bottom */
        width: 100%; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (min-width: 900px) and (max-width: 1400px) {
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative;
    }

    .rocket {
        display: none; /* Hide the rocket image */
    }

    .bottom-image {
        display: block; /* Show the image in this breakpoint */
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10rem;
    }

    .rocket {
        transition: transform 0.2s ease-in-out;
    }

    .rocket:hover {
        animation: rocketMove 3s infinite ease-in-out;
    }

    .bottom-image {
        display: none; /* Hide the image in other breakpoints */
    }
}

@keyframes rocketMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Mobile devices – 320px — 480px */
@media (max-width: 480px) {
    /* Hide the bottom image */
    .bottom-image {
        display: none;
    }
}

/* Small screens, laptops – 769px — 1024px */
@media (min-width: 769px) and (max-width: 899px), (min-width: 1025px) and (max-width: 1400px) {
    .bottom-image {
        display: none; /* Hide the image in this breakpoint */
    }
}

/* Desktops, large screens – 1401px and more */
@media (min-width: 1401px) {
    .bottom-image {
        display: none; /* Hide the image in this breakpoint */
    }
}